* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #31363d;
  color: #ffffff;
}
#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
#logo {
  height: 6em;
}
.window {
  background-color: #666666;
  padding: 1em;
  margin-bottom: 1em;
}
.window.light {
  background-color: #969696;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}
#info,
#transfer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}
#transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#file-info {
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
#upload {
  display: flex;
  align-items: center;
}
#upload .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 0.9em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}
#drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
#drop-zone.active {
  background-color: #969696;
}
#upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#upload-file:focus + #label-upload {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  background-color: #ff8c0a;
}
#label-upload {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5a09;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}
#label-upload:hover {
  background-color: #ff8c0a;
}
#upload-info {
  width: 100%;
  box-sizing: border-box;
  background-color: #969696;
  position: relative;
}
p {
  margin-bottom: 0.5em;
}
p:last-child {
  margin-bottom: 0;
}
input,
textarea,
button {
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  background-color: #666666;
  color: #ffffff;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
}
input::placeholder,
textarea::placeholder,
button::placeholder {
  color: #cccccc;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
}
input[type="submit"],
button {
  background-color: #ff5a09;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover,
button:hover,
input[type="submit"]:focus,
button:focus {
  background-color: #ff8c0a;
}
#wrong1,
#wrong2 {
  font-size: 17px;
  margin: 8px;
}
#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  height: 100vh;
  display: none;
}
#overlay.active {
  display: flex;
}
#loading {
  width: 20vw;
  height: 20vw;
  max-width: 160px;
  max-height: 160px;
}
#link-section {
  text-align: center;
}
#link-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#follow-link {
  margin-top: 1em;
}
#copy-link {
  display: inline-block;
  border-radius: 50%;
  width: auto;
  margin: 0.5em;
}
#copy-link img {
  width: 2em;
}
#main-footer {
  margin-top: auto;
  background-color: #666666;
  padding: 1em 2em;
  font-size: 0.9em;
  text-align: center;
}
@media (min-width: 500px) {
  #transfer,
  #info {
    width: 80%;
  }
}
@media (min-width: 576px) {
  #transfer,
  #info {
    width: 70%;
  }
}
@media (min-width: 768px) {
  #transfer,
  #info {
    width: 60%;
  }
}
@media (min-width: 992px) {
  main {
    flex-direction: row;
    justify-content: space-around;
  }
  #info,
  #transfer {
    margin: 0;
  }
  #info {
    width: 30%;
  }
  #transfer {
    flex-direction: row;
    align-items: stretch;
    width: 60%;
  }
  #file-info,
  #upload-info {
    width: 50%;
  }
  #upload {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  #drop-zone {
    width: 100%;
    height: 50%;
  }
  #upload-info {
    margin: 0;
  }
}
